* {
  color: black;
}

#authBox {
  position: absolute;
  border: 10px solid greenyellow;
  color: #fff;
  top: 50%;
  left: 50%;
  padding: 15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#reg {
  padding-bottom: 1px;
  border-bottom: 1px solid white;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

#log {
  padding-top: 5px;
  border-color: #ba2f16;
  background: white;
  color: #ba2f16;
  font-weight: 700;
}

#log:hover {
  border-color: #ba2f16;
  color: white;
  background: #ff4848;
}

#cityState {
  width: 300px;
}

form {
  margin: 0 auto;
  width: 300px;
}
input {
  margin-bottom: 3px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
}
button {
  padding: 10px;
}
label {
  cursor: pointer;
}
#form-switch {
  display: none;
}
#register-form {
  display: none;
}
#form-switch:checked ~ #register-form {
  display: block;
}
#form-switch:checked ~ #loginBox {
  display: none;
}

#statusBox {
  border-radius: 6px;
  width: auto;
  background: lightblue;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  padding: 15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#postStatus:hover {
  background: beige;
}

#city {
  width: 325px;
  height: 40px;
}

#bloodGroup {
  width: 325px;
  height: 40px;
}
